<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin-left: 200px;
  background: #5d9ab2 url("static/img/img_tree.png") no-repeat top left;
}

.center_div {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0f0f6;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>

<div class="center_div">
  <h1>Hello AZ!</h1>
  <p>
    <ul>
      <li><a href="/vm">Request VM</a></li>
      <li><a href="/aks">Request AKS</a></li>
      <li><a href="/storage">Request Storage</a></li>
  </p>
</div>

</body>
</html>
